<div class="w-40 h-20 bg-white dark:bg-gray-700 border-2 border-gray-300 dark:border-gray-600 rounded-lg shadow-lg flex flex-col items-center justify-center p-1">
  <div class="h-1/2"><%= show_svg(icon) %></div>
  <p class="text-xs text-gray-400 dark:text-gray-500"><%= label %></p>
</div>
